<div class="footer__element">
	<ul class="footer-links">
		<li class="footer-links__link"><a href="https://twitter.com/dsosby">Twitter</a></li>
		<li class="footer-links__link"><a href="https://github.com/dsosby">Github</a></li>
	</ul>
</div>
